{% extends "shared/base.html" %}

{% load static %}

{% block content %}

<main>
    <h1 class="register-title">Informações sobre o apadrinhado</h1>
    <p class="register-subtitle">Responda as questões e nos conte um pouco sobre o apadinhado, ideais, sonhos etc</p>
    <div class="register-container">
        {% comment %} {% if messages %}
            {% for message in messages %}
                <p style="color: green;">{{ message }}</p>
            {% endfor %}
        {% endif %} {% endcomment %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="register-grid">
                <div class="input-group">
                    <label>Foto Real</label>
                    <input type="file" name="foto" class="register-input file-input" accept="image/*">
                  </div>
                  <div class="input-group">
                    <label>Foto exibida para padrinho</label>
                    <input type="file" name="foto_para_padrinho" class="register-input file-input" accept="image/*">
                  </div>
                <!-- primeira combo box -->
                <div class="input-group">
                    <label>1. Qual matéria  da escola você mais gosta?</label>
                    <div class="combo-container">
                      <select name="area_escolar" class="register-input combo-select" onchange="toggleOtherInput(this)" required>
                        <option value="1">Português (Linguagens)</option>
                        <option value="2">Inglês (Linguagens)</option>
                        <option value="3">Matemática</option>
                        <option value="4">Ciências</option>
                        <option value="5">Historia (Humanas)</option>
                        <option value="6">Geografia (Humanas)</option>
                        <option value="7">Artes</option>
                      </select>
                    </div>
                  </div>
                <!-- segunda combo box -->
                <div class="input-group">
                    <label>2. Você quer ser o que quando crescer?</label>
                    <div class="combo-container">
                        <select name="profissao_desejada" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Médico (Saúde)</option>
                            <option value="2">Veterinário (Saúde)</option>
                            <option value="3">Dentista (Saúde)</option>
                            <option value="4">Professor (Educação)</option>
                            <option value="5">Bombeiro (Serviço, Saúde)</option>
                            <option value="6">Policial (Serviço)</option>
                            <option value="7">Atleta (Esportes)</option>
                            <option value="8">Artista (Artes)</option>
                            <option value="9">Ator (Artes)</option>
                            <option value="10">Engenheiro (Engenharia)</option>
                            <option value="11">Arquiteto (Engenharia)</option>
                            <option value="12">Empresário (Negócios)</option>
                            <option value="13">Advogado (Legistativo)</option>
                            <option value="14">Juiz (Legistativo)</option>
                            <option value="15">Programador (Tecnologia)</option>
                            <option value="16">Educador Físico (Esportes, Saúde)</option>
                        </select>
                    </div>
                </div>
                <!-- quarta combo box -->
                <div class="input-group">
                    <label>3. Você possui algum hobby?</label>
                    <div class="combo-container">
                        <select name="hobby" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Ler</option>
                            <option value="2">Cozinhar</option>
                            <option value="3">Praticar esportes</option>
                            <option value="4">Tocar instrumentos musicais</option>
                            <option value="5">Desenhar ou pintar</option>
                            <option value="6">Escrever</option>
                            <option value="7">Dançar</option>
                        </select>
                    </div>
                </div>
                <!-- quarta combo box -->
                <div class="input-group">
                    <label>4. O que mais te inspira hoje? (O que faz o seu olho brilhar e querer estudar?)</label>
                    <div class="combo-container">
                        <select name="inspiracoes" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Família</option>
                            <option value="2">Meus amigos</option>
                            <option value="3">Impactar positivamente a vida de outras pessoas</option>
                            <option value="4">Buscar conhecimento e crescimento</option>
                            <option value="5">Realizar sonhos de infância</option>
                            <option value="6">Fé ou espiritualidade</option>
                        </select>
                    </div>
                </div>
                <!-- quinta combo box -->
                <div class="input-group">
                    <label>5. E para fechar, aponte seus 3 maiores valores</label>
                    <div class="combo-container">
                        <select name="valores" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Honestidade</option>
                            <option value="2">Liberdade</option>
                            <option value="3">Respeito</option>
                            <option value="4">Amor</option>
                            <option value="5">Coragem</option>
                            <option value="6">Justiça</option>
                            <option value="7">Empatia</option>
                            <option value="8">Responsabilidade</option>
                            <option value="9">Gratidão</option>
                            <option value="10">Fé</option>
                            <option value="11">Determinação</option>
                            <option value="12">Lealdade</option>
                        </select>
                    </div>
                </div>
                <!-- sexta combo box se precisar -->
            </div>
            <button type="submit" class="submit-btn">Salvar Informações</button>
        </form>
    </div>
    <div class="navigation-buttons register-nav">
        <a href="{% url 'cadastroApadrinhados' %}" class="button-link">
            <button class="nav-btn">← Voltar</button>
        </a>
    </div>
</main>

{% endblock  %}