{% extends "shared/base.html" %}

{% load static %}

{% block content %}

<main>
    <h1 class="register-title">Informações sobre você</h1>
    <p class="register-subtitle">Responda as questões e nos conte um pouco sobre você, seus ideais, seus sonhos etc</p>
    <div class="register-container">
        {% comment %} {% if messages %}
            {% for message in messages %}
                <p style="color: green;">{{ message }}</p>
            {% endfor %}
        {% endif %} {% endcomment %}
        <form method="POST">
            {% csrf_token %}
            <div class="register-grid">
                <!-- primeira combo box -->
                <div class="input-group">
                    <label>1. Na escola, qual área te chamava mais atenção?</label>
                    <div class="combo-container">
                      <select name="area_escolar" class="register-input combo-select" onchange="toggleOtherInput(this)" required>
                        <option value="1">Linguagens</option>
                        <option value="2">Matemática</option>
                        <option value="3">Ciências da Natureza</option>
                        <option value="4">Ciências Humanas</option>
                        <option value="5">Artes</option>
                      </select>
                    </div>
                  </div>
                <!-- segunda combo box -->
                <div class="input-group">
                    <label>2. Qual era a profissão dos seus sonhos, quando criança?</label>
                    <div class="combo-container">
                        <select name="profissao_desejada_quando_crianca" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Médico(a)</option>
                            <option value="2">Professor(a)</option>
                            <option value="3">Bombeiro(a)</option>
                            <option value="4">Atleta ou Jogador(a) de futebol</option>
                            <option value="5">Artista</option>
                            <option value="6">Ator</option>
                            <option value="7">Engenheiro(a) </option>
                            <option value="8">Arquiteto(a)</option>
                            <option value="9">Veterinário(a)</option>
                            <option value="10">Empresário(a)</option>
                            <option value="11">Juiz</option>
                        </select>
                    </div>
                </div>
                <!-- terceira combo box -->
                <div class="input-group">
                    <label>3. E hoje, em qual área profissional você atua?</label>
                    <div class="combo-container">
                        <select name="profissao_atual" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Saúde</option>
                            <option value="2">Educação</option>
                            <option value="3">Legislativa</option>
                            <option value="4">Tecnologia</option>
                            <option value="5">Negócios</option>
                            <option value="6">Engenharia</option>
                            <option value="7">Artes e Cultura</option>
                            <option value="8">Comunicação e Marketing</option>
                            <option value="9">Esportes/Atividades físicas</option>
                            <option value="10">Serviço público</option>
                        </select>
                    </div>
                </div>
                <!-- quarta combo box -->
                <div class="input-group">
                    <label>4. Você possui algum hobby?</label>
                    <div class="combo-container">
                        <select name="hobby" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Ler</option>
                            <option value="2">Cozinhar</option>
                            <option value="3">Praticar esportes</option>
                            <option value="4">Tocar instrumentos musicais</option>
                            <option value="5">Desenhar ou pintar</option>
                            <option value="6">Escrever</option>
                            <option value="7">Dançar</option>
                        </select>
                    </div>
                </div>
                <!-- quinta combo box -->
                <div class="input-group">
                    <label>5. O que mais te inspira hoje?</label>
                    <div class="combo-container">
                        <select name="inspiracoes" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Família</option>
                            <option value="2">Meus amigos</option>
                            <option value="3">Impactar positivamente a vida de outras pessoas</option>
                            <option value="4">Buscar conhecimento e crescimento</option>
                            <option value="5">Realizar sonhos de infância</option>
                            <option value="6">Fé ou espiritualidade</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <label>6. E para fechar, aponte seus 3 maiores valores</label>
                    <div class="combo-container">
                        <select name="valores" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Honestidade</option>
                            <option value="2">Liberdade</option>
                            <option value="3">Respeito</option>
                            <option value="4">Amor</option>
                            <option value="5">Coragem</option>
                            <option value="6">Justiça</option>
                            <option value="7">Empatia</option>
                            <option value="8">Responsabilidade</option>
                            <option value="9">Gratidão</option>
                            <option value="10">Fé</option>
                            <option value="11">Determinação</option>
                            <option value="12">Lealdade</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="submit-btn">Salvar Informações</button>
        </form>
    </div>
    <div class="navigation-buttons register-nav">
        <a href="{% url "cadastroPadrinhos" %}" class="button-link">
            <button class="nav-btn">← Voltar</button>
        </a>
        {% comment %} <a href="#" class="button-link">
            <button class="nav-btn">Próximo →</button>
        </a> {% endcomment %}
    </div>
</main>
<script>
    function toggleOtherInput(selectElement) {
        const otherInput = selectElement.parentElement.querySelector('.other-input');
        otherInput.style.display = selectElement.value === '99' ? 'block' : 'none';
        if (selectElement.value !== '99') {
            otherInput.value = '';
        }
    }
</script>

{% endblock  %}